<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  {% block head %}
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}"> {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed"
  /> {% endif %} {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed"
  /> {% endif %} {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed"
  /> {% endif %} {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed"
  /> {% endif %} {% if CATEGORY_FEED_ATOM and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate"
    title="{{ SITENAME }} Categories Atom Feed" /> {% endif %} {% if CATEGORY_FEED_RSS and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed"
  /> {% endif %} {% if TAG_FEED_ATOM and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed"
  /> {% endif %} {% if TAG_FEED_RSS and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed"
  /> {% endif %} {% endblock head %}
</head>

<body id="index" class="home">
  <header id="banner" class="body">
    <h1>
      <a href="{{ SITEURL }}/">{{ SITENAME }}
        <strong>{{ SITESUBTITLE }}</strong>
      </a>
    </h1>
  </header>
  <!-- /#banner -->
  <nav id="menu">
    <ul>
      {% for title, link in MENUITEMS %}
      <li>
        <a href="{{ link }}">{{ title }}</a>
      </li>
      {% endfor %} {% if DISPLAY_PAGES_ON_MENU %} {% for p in pages %}
      <li{% if p==page %} class="active" {% endif %}>
        <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endfor %} {% else %} {% if DISPLAY_CATEGORIES_ON_MENU %} {% for cat, null in categories %}
        <li{% if cat==category %} class="active" {% endif %}>
          <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
          </li>
          {% endfor %} {% endif %} {% endif %}
    </ul>
  </nav>
  <!-- /#menu -->
  {% block content %} {% endblock %}
  <footer id="contentinfo" class="body">
    <address id="about" class="vcard body">
      <a href="http://giants.esad-amiens.fr/">http://giants.esad-amiens.fr/</a>
    </address>
    <!-- /#about -->
  </footer>
  <!-- /#contentinfo -->
  <script>
    function loadEtherStyle(url, interval) {
      function load(url) {
        fetch(url)
          .then(r => r.text())
          .then(styles => {
            var el = document.createElement('style');
            el.appendChild(document.createTextNode(styles));
            el.setAttribute('data-type', 'etherstyle');

            document.querySelectorAll('[data-type="etherstyle"]').forEach(el => el.remove());
            document.head.appendChild(el);
          });
      }

      load(url);
      window.setInterval(function () { load(url); }, interval);
    }

    loadEtherStyle('http://pads.osp.kitchen/p/on-the-shoulders-of-giants-css/export/txt', 3000);
  </script>
</body>

</html>
